@charset "utf-8";
@import url("../fonts/geometria.css");
@import url("../fonts/icomoon.css");

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*текст*/

html {
	font-size: 18px;
	line-height: 21px;
	font-family: "Geometria";
	min-height: 100%;
}

@media screen and (max-height: 700px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-height: 650px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 14px;
	}
}


body, input, textarea {
	font-family: "Geometria";
	font-size: 1rem;
	line-height: 1.167rem;
	vertical-align: top;
	color: #000;
}

body {
	min-height: 100%;
}

small {
	font-size: 0.7778rem;
	vertical-align: top;
}

h1 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.334rem;
	line-height: 1.334rem;
	font-weight: bold;
}

h3 {
	font-size: 1rem;
	line-height: 1.167rem;
	font-weight: bold;
}

article ul {
	margin-left: 1rem;
	list-style: none;
}

article ul li {
	position: relative;
}

article ul li > p {
	margin-bottom: 1.167rem;
}

article ul li:before {
	content: "•";
	position: absolute;
	left: -1rem;
	top: 0rem;
}

article p,
article ul {
	color: #666666;
}

article h1,
article h2,
article h3 {
	color: #000000;
}

a > span.label,
a > span.label {
	display: none;
}

a {
	color: inherit;
}

dt {
	display: inline-block;
	width: 32%;
	margin-right: 3%;
	vertical-align: top;
	margin-bottom: 1.167rem;
}

dd {
	display: inline-block;
	width: 63%;
	vertical-align: top;
	margin-bottom: 1.167rem;
}

.footnote {
	padding-left: 0.778rem;
	position: relative;
}

.footnote:before {
	content: "*";
	position: absolute;
	left: 0px;
	top: 0px;
}

article dt {
	color: #000000;
}

article dd {
	color: #666666;
}

.owl-carousel .owl-item article a > img {
	width: auto;
	display: inline-block;
}

.fotorama__dot {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #666666;
	left: 0;
	top: 5px;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
	width: 14px;
	height: 14px;
	border-color: #000000;
	background-color: #000000;
	border-width: 1px;
}

.fotorama__nav--dots .fotorama__nav__frame {
	width: 30px;
}

.fotorama__shadows--left:before,
.fotorama__shadows--right:after {
	content: none !important;
}

/*структура*/
body {
	min-width: 750px;
	background-color: white;
	position: relative;
}


/*подвал*/
body > footer {
	max-width: 1150px;
	margin: 9rem auto 0 auto;
	border-top: solid #000000 1px;
	height: 3rem;
	position: relative;
}

@media screen and (max-width: 1200px) {
	body > footer {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

body > footer small {
	line-height: 2rem;
	display: inline-block;
	vertical-align: top;
}

body > footer small.copyrights {
	margin-right: 45px;
}

body > footer small.credits {
	position: absolute;
	top: 0px;
	right: 0px;
}

body.popup {
	overflow-y: hidden;
	height: 100%;
}

/*шапка*/
#site-header.regular {
	height: 2.667rem;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 2rem;
	text-align: center;
	-webkit-box-shadow: inset 0px -1px 0px 0px #000000;
	-moz-box-shadow: inset 0px -1px 0px 0px #000000;
	box-shadow: inset 0px -1px 0px 0px #000000;
	background-color: white;
}

#site-header.front {
	height: 4.278rem;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	background-color: white;
	z-index: 1;
	padding-top: 1px;
}

#site-header.regular .site-logo {
	position: absolute;
	left: 5rem;
	top: 0px;
	font-size: 0.889rem;
	line-height: 2.667rem;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

@media screen and (max-width: 1250px) {
	#site-header.regular .site-logo {
		left: 2rem;
	}
}

@media screen and (max-width: 900px) {
	#site-header.regular .site-logo {
		left: 1rem;
	}
}

#site-header.front .site-logo {
	position: absolute;
	left: 50%;
	margin-left: -570px;
	top: 17px;
}

@media screen and (max-width: 1250px) {
	#site-header.front .site-logo {
		left: 2rem;
		margin-left: 0;
		top: 20px;
	}
}

#site-header.front .site-logo img {
	height: 2.389rem;
}

@media screen and (max-width: 900px) {
	#site-header.front .site-logo img {
		height: 2rem;
	}

	#site-header.front .site-logo {
		left: 1rem;
	}
}

#site-header.regular .social {
	position: absolute;
	right: 2.334rem;
	top: 0.556rem;
}

@media screen and (max-width: 1250px) {
	#site-header.regular .social {
		right: 2rem;
	}
}

@media screen and (max-width: 900px) {
	#site-header.regular .social {
		right: 1rem;
	}
}

#site-header.front .social {
	position: absolute;
	right: 50%;
	margin-right: -570px; 
	bottom: 12px;
}

@media screen and (max-width: 1250px) {
	#site-header.front .social {
		right: 2rem;
		margin-right: 0;
	}
}

@media screen and (max-width: 900px) {
	#site-header.front .social {
		right: 1rem;
	}
}

#site-header .social a {
	font-size: 1.278rem;
	border: solid rgba(22,22,22, 0.8) 1px;
	background-color: rgb(255,255,255);
	border-radius: 50%;
	text-align: center;
	/*width: 22px;*/
	height: 1.223rem;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: rgb(0,0,0);
	margin: 0 0.125rem;
	transition: all 0.1s ease-out;
}

#site-header .social a:hover,
#site-header .social a:active {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}


ul#site-menu {
	list-style: none;
	display: inline-block;
}

ul#site-menu a {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

ul#site-menu li {
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
	margin-right: -5px;
}

ul#site-menu > li > a {
	display: block;
	line-height: 2.667rem;
	font-size: 0.889rem;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 17px;
	padding-right: 17px;
	cursor: pointer;
}

#site-header.front ul#site-menu > li > a {
	font-size: 1rem;
}

ul#site-menu ul.submenu {
	display: none;
	text-align: center;
	position: absolute;
	top: 2.667rem;
	left: 0px;
	width: 100%;
	line-height: 2.1rem;
	background-color: white;
}

ul#site-menu ul.submenu {
	font-size: 0.778rem;
}

ul#site-menu ul.submenu a {
	display: block;
	text-decoration: none;
	padding-left: 17px;
	padding-right: 17px;
}

ul#site-menu li.active ul.submenu {
	display: block;
}

#site-header.regular ul#site-menu > li > a {
	color: #999999;	
}

#site-header.regular ul#site-menu li.active > a {
	color: #000000;
}

#site-header.regular ul#site-menu ul.submenu a {
	color: #999999;	
}

#site-header.regular ul#site-menu ul.submenu li.active > a {
	color: #000000;
}





ul#site-menu a:hover {
	color: #000 !important;
}

/*ul#site-menu:hover a {
	color: #999999 !important;
}

ul#site-menu:hover ul.submenu {
	display: none !important;
}

ul#site-menu:hover li:hover ul.submenu {
	display: block !important;
}

ul#site-menu:hover > li:hover > a {
	color: #000 !important;
}

ul#site-menu:hover ul.submenu li:hover > a {
	color: #000 !important;
}*/




#site-header.front ul#site-menu {
	margin-top: 1.667rem;
	color: #000000;
}

#site-header.front ul#site-menu:hover {
	color: #999999;
}

#site-header.front ul#site-menu > li:hover > a {
	color: #000000;
}

#site-header.front ul#site-menu ul.submenu {
	top: 4.333rem;
	border-top: solid #000000 1px;
}

#site-header.front ul#site-menu > li:hover ul.submenu {
	display: block;
}


/*карусель на главной*/
#main-promo-control-stripe {
	position: absolute;
	left: 0px;
	bottom: 40px;
	width: 100%;
	right: 0px;
	z-index: 3;
	background-color: white;
	text-align: center;
	/*min-height: 5.334rem;*/
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.889rem;
}

#main-promo-control-stripe > * {
	display: block;
}

#main-promo-control-stripe h3 {
	text-transform: uppercase;
	margin-bottom: 3px;
	white-space: nowrap;
}

#main-promo-control-stripe header {
	margin: 0 80px;
}

a[data-main-promo-prev] {
	width: 35px;
	height: 35px;
	display: inline-block;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: solid #000000 2px;
	border-bottom: solid #000000 2px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 50%;
	margin-right: 390px;
}

a[data-main-promo-next] {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 50%;
	margin-left: 390px;
	width: 35px;
	height: 35px;
	display: inline-block;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: solid #000000 2px;
	border-top: solid #000000 2px;
	cursor: pointer;
}

@media screen and (max-width: 1250px) {
	a[data-main-promo-prev] {
		left: 2rem;
		margin-left: 0;
	}

	a[data-main-promo-next] {
		left: auto;
		right: 2rem;
		margin-left: 0;
	}
}

@media screen and (max-width: 900px) {
	a[data-main-promo-prev] {
		left: 2rem;
		margin-left: 0;
	}

	a[data-main-promo-next] {
		left: auto;
		right: 2rem;
		margin-left: 0;
	}
}

#main-promo {
/*	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	*/
}

#main-promo .item {
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}

#main-promo .item header {
	position: absolute;
	color: #ffffff;
	top: 140px;
	left: 50%;
	margin-left: -550px;
}

@media screen and (max-width: 1250px) {
	#main-promo .item header {
		left: 2rem;
		margin-left: 0;
	}
}

@media screen and (max-width: 900px) {
	#main-promo .item header {
		left: 1rem;
		margin-left: 0;
	}
}


#main-promo .item header h1 {
	font-weight: normal;
	margin-bottom: 1.167rem;
	font-size: 2.667rem;
	line-height: 2.667rem;
	text-transform: uppercase;
}


#main-promo .item header p {
	width: 350px;
	margin-bottom: 1.167rem;
}

#main-promo .item header.black {
	color: #000000;
}

#main-promo .fotorama__nav-wrap {
	height: 30px;
}

#main-promo .fotorama__nav {
	position: absolute;
	left: 0px;
	width: 100%;
	right: 0px;
	bottom: 162px;
	background-color: transparent;
}

@media screen and (max-height: 700px) {
	#main-promo .fotorama__nav {
		bottom: 152px;
	}
}

@media screen and (max-height: 650px) {
	#main-promo .fotorama__nav {
		bottom: 142px;
	}
}

#main-promo .fotorama__dot {
	border-color: #ffffff;
	background-color: transparent;
}

#main-promo .fotorama__nav__frame.fotorama__active .fotorama__dot {
	border-color: #ffffff;
	background-color: #ffffff;
}


/*контакты*/
.overheader-animation-placeholder {
	position: fixed;
	height: 4.667rem;
	width: 100%;
	left: 0px;
	top: 0px;
	overflow: hidden;
	background-color: white;
	z-index: 10;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	min-width: 750px;
}

.overheader-animation-placeholder .overlay {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

.overheader-animation-placeholder.active {
	overflow: visible;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#contacts {
	position: absolute;
	bottom: 4.667rem;
	left: 0px;
	width: 100%;
	background-color: white;
}

#contacts img[alt="Sound Bureau"] {
	margin-left: -21px;
}

#contacts .column.plain {
	position: relative;
	width: 575px;
	left: 287px;
	color: #666666;
	/*margin-bottom: 0;*/
}

#contacts .copyrights {
	top: 0px;
	left: 5rem;
	position: absolute;
	font-size: 0.778rem;
	line-height: 2rem;
	display: block;
}

#contacts a[data-toggle="#contacts"] {
	top: 1rem;
	right: 2.334rem;
	position: absolute;
	cursor: pointer;
}

#contacts form {
	position: relative;
	width: 100%;
	border-top: solid #000 1px;
}

#contacts form fieldset {
	border-bottom: solid #000 1px;
	padding: 0.612rem;
	position: relative;
}

#contacts form input[type="text"],
#contacts form textarea {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	font-size: 0.778rem;
	line-height: 1.167rem;
	color: #222;
	width: 100%;
}

#contacts form input[type="text"] {
	width: 360px;
	height: 1.167rem;
}

#contacts form input[type="submit"] {
	font-size: 0.778rem;
	line-height: 1.167rem;
	padding-left: 1rem;
	padding-bottom: 2.333rem;
	padding-right: 0;
	padding-top: 0;
	border-radius: 0;
	display: block;
	-webkit-appearance: none;
	width: 190px;
	position: absolute;
	top: 0px;
	right: 0px;
	/*bottom: 0;*/
	border-left: solid 1px rgb(0,0,0);
	text-align: left;
	vertical-align: top;
	height: 4.7222rem;
	background-color: transparent;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
}

#contacts form input[type="submit"]:hover,
#contacts form input[type="submit"]:active {
	background-color: rgba(0, 0, 0, 1.0);
	color: rgba(255, 255, 255, 1.0)
}

@media screen and (max-width: 1200px) {
	#contacts a[data-toggle="#contacts"] {
		top: 0rem;
		right: 1rem;
	}

	#contacts .copyrights {
		left: 1rem;
	}

	#contacts .column.plain {
		left: 0;
		margin-right: auto;
		margin-left: auto;
	}

	#contacts .column > p:first-child {
		margin-top: -0.5rem;
	}

}

@media screen and (max-width: 1100px) {
	#contacts .copyrights {
		left: auto;
		right: 4rem;
		top: -0.125rem;
	}
}

/*@media screen and (max-width: 1250px) {
	#contacts form input[type="submit"] {
		height: 76px;
	}
}

@media screen and (max-width: 900px) {
	#contacts form input[type="submit"] {
		height: 60px;
	}
}
*/


/* переключение контента*/

.page {
	padding-top: 215px;
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.pages {
		margin: 0 1rem;
		width: auto;
	}

	.page {
		width: 100%;
	}
}

.owl-height {
	-webkit-transition: height 100ms ease-in-out;
	-moz-transition: height 100ms ease-in-out;
	-ms-transition: height 100ms ease-in-out;
	-o-transition: height 100ms ease-in-out;
	transition: height 100ms ease-in-out;
}

a[data-page-prev],
a[data-page-next] {
	position: absolute;
	top: 430px;
	cursor: pointer;
	z-index: 2;
	display: block;
}

a[data-page-prev] {
	right: 50%;
	margin-right: 560px;
}

a[data-page-next] {
	left: 50%;
	margin-left: 560px;
}

@media screen and (max-width: 1400px) {
	a[data-page-prev] {
		margin-right: 500px;
	}

	a[data-page-next] {
		margin-left: 500px;
	}
}

a[data-page-prev] {
	/*content: url(../images/arrow-prev.svg);*/
	width: 50px;
	height: 50px;
	border-left: solid #000000 2px;
	border-bottom: solid #000000 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

a[data-page-next] {
	/*content: url(../images/arrow-next.svg);*/
	width: 50px;
	height: 50px;
	border-top: solid #000000 2px;
	border-right: solid #000000 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*заголовок страницы*/
.page-header {
	text-align: center;
	position: absolute;
	top: 115px;
	left: 0px;
	width: 100%;
}

.page-header h1 {
	line-height: 2rem;
	margin-bottom: 0.584rem;
}

.page-header p small {
	display: block;
	line-height: 1rem;
}



/*основная иллюстрация*/
figure.main-illustration {
	width: 768px;
	height: 516px;
	background-size: cover;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	margin-bottom: 1.167rem;
}

@media screen and (max-width: 850px) {
	figure.main-illustration {
		width: 100%;
	}
}

.page > figure.main-illustration:first-child {
	margin-top: -72px;
}

figure.main-illustration * {
	color: #ffffff;
}

figure.main-illustration.text:before {
	content: " ";
	display: block;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

figure.main-illustration .hero {
	position: absolute;
	left: 48px;
	top: 58px;
	font-size: 1.667rem;
	font-weight: bold;
	line-height: 2rem;
	right: 155px;
}

figure.main-illustration .author {
	position: absolute;
	left: 520px;
	width: 200px;
	bottom: 40px;
	font-size: 0.723rem;
	line-height: 1rem;
}

figure.main-illustration .author:before {
	content: "—";
	position: absolute;
	left: -1.25em;
	top: 0px;
}

.main-illustration-nav {
	text-align: center;
}

.main-illustration-nav a {
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	line-height: 25px;
	border-radius: 50%;
	border: solid #222 1px;
	font-size: 20px;
}

.main-illustration-nav .label {
	width: 60px;
	font-size: 0.778rem;
	display: inline-block;
	vertical-align: middle;
}

.main-illustration-nav a:hover {
	background-color: #000;
	color: #fff;
}


/*колонка в половину*/
.column.half {
	width: 50%;
}

.row {
	display: table;
	width: 100%;
}

.row .column.half,
.row .column.third {
	display: table-cell;
	vertical-align: top;
}

.column.third {
	width: 33.333%;
}

/*колонка по центру*/
.column.plain {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4.5rem;
}

.column.plain > h3:first-child,
.column.plain > p:first-child {
	margin-top: 4.5rem;
}

.hgroup {
	margin-top: 1.167rem;
}

.hgroup small {
	display: block;
	text-transform: uppercase;
}

.hgroup p:first-child {
	margin-bottom: 0.667rem;
}


/*аккордеон*/
.accordeon {
	list-style: none;
	margin-left: 0;
	border-top: solid #000000 1px;
	/*box-shadow: inset 0px 1px 0px 0px #000;*/
	margin-bottom: 2.334rem;
	margin-top: 6rem;
}

.accordeon > li {
	border-bottom: solid #000000 1px;
	min-height: 4.667rem;
	position: relative;
	padding-bottom: 1.167rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.accordeon.expand-always a[data-toggle-more] {
	display: none;
}

.accordeon > li:before {
	content: none;
}

.accordeon .accordeon-label {
	display: block;
	width: 250px;
	margin: 1rem;
	margin-bottom: 0;
	float: left;
}

.accordeon .accordeon-content {
	margin-left: 290px;
	margin-right: 1rem;
	padding-top: 1.167rem;
	/*overflow: hidden;*/
	/*hack*/
	/*height: 2.334rem;*/
	display: block;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
}

.accordeon .accordeon-content.more {
	/*max-height: 1000px;*/
	overflow: visible;
}

.accordeon .accordeon-content.cut {
	/*max-height: 1000px;*/
	height: 2.334rem;
	overflow: hidden;
}

.accordeon .accordeon-label h2 {
	margin-bottom: 0.278rem;
}

.accordeon .accordeon-label a[data-toggle-more] {
	font-size: 0.889rem;
	cursor: pointer;
	text-decoration: underline;
}

.accordeon .accordeon-content .wide-illustration {
	margin-left: -290px;
	margin-right: -18px;
	margin-top: 1.167rem;
	margin-bottom: 2.334rem;
}


/* табы */
.tab-column,
.tab-illustration {
	display: inline-block;
	vertical-align: top;
}

.tab-column {
	width: 420px;
	margin-left: 1.167rem;
	margin-top: 1.167rem;
}



.tab-illustration {
	width: 670px;
	position: relative;
	left: 35px;
}


@media screen and (max-width: 1250px) {
	.tab-column {
		width: 35%;
	}

	.tab-illustration {
		width: 58%;
	}
}


.tabs {
	-webkit-box-shadow: 0px 1px 0px 0px rgb(0,0,0);
	-moz-box-shadow: 0px 1px 0px 0px rgb(0,0,0);
	box-shadow: 0px 1px 0px 0px rgb(0,0,0);
	margin: 2rem auto;
}

.tabs p {
	display: table;
	width: 100%;
	border-top: solid #000 1px;
}

.tabs.double {
	border-left: solid #000 1px;
	border-right: solid #000 1px;
}

.tabs p a {
	display: table-cell;
	cursor: pointer;
	text-align: center;
	line-height: 2rem;
	font-size: 0.778rem;
	height: 2rem;
	vertical-align: middle;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
}

.tabs.double p a {
	width: 50%;
	font-size: 1.667rem;
	line-height: 3.6rem;
	height: 3.6rem;
}

.tabs p a:hover {
	color: rgb(0,0,0);
}

.tabs p a.active {
	color: rgb(255, 255, 255);
	background-color: rgb(0,0,0);
}

.tabs p a.third {
	width: 33.333%;
}

.tabs h1 {
	text-align: center;
	margin-bottom: 1.167rem;
}

*[data-tab-group].inactive {
	display: none !important;
}

*[data-tab-group] .divider {
	height: 1.445rem;
	border-top: solid #000 1px;
	border-left: solid #000 1px;
}

.column:first-child *[data-tab-group] .divider {
	border-right: solid #000 1px;
	border-left: 0px;
}

.page-tab-header {
	text-align: center;
	position: absolute;
	top: 130px;
	left: 0px;
	width: 100%;
/*	left: 50%;
	margin-left: -575px;*/
	display: table;
}

.page-tab-header .tabs h1 {
	line-height: 2rem;
	font-size: 1.667rem;
	margin-bottom: 0.584rem;
	font-weight: normal;
	white-space: nowrap;
}

.page-tab-header .tabs {
	display: table-cell;
	width: 50%;
}

.tabs-contents .divider {
	margin-top: 2rem;
	margin-left: -1.22223rem;
	margin-right: -1.16667rem;
}

.tabs-contents .column > *:first-child {
	margin-top: 2rem;
}

.tabs-contents .column *[data-tab-group] {
	padding-left: 1.167rem;
	padding-right: 1.167rem;
}

.column .tab-illustration {
	margin-left: -1.166rem;
	margin-right: -1.166rem;
	width: auto;
	left: 0px;
	margin-top: 2rem;
	text-align: center;
}

.tab-illustration img {
	width: 100%;
}

*[data-tab-group] ul {
	width: 85%;
}

*[data-tab-group] ul.accordeon {
	width: 100%;
}

*[data-tab-group] ul.accordeon:first-child {
	margin-top: -1rem;
	box-shadow: none;
	border-top: 0px;
}

*[data-tab-group] .accordeon-label h3 {
	margin-top: 0.167rem;
}

*[data-tab-group] .accordeon-content dt,
*[data-tab-group] .accordeon-content dd {
	margin-bottom: 0px;
}

*[data-tab-group] .accordeon-content dt {
	width: 25%;
}

*[data-tab-group] .accordeon-content h3:first-child {
	display: none;
	margin-bottom: 1.167rem;
}

*[data-tab-group] .accordeon-content.more h3:first-child {
	display: block;
}

/*Три промо-колонки*/
.row.features {
	text-align: center;
	width: 100%;
	margin-top: 2.334rem;
	margin-bottom: 1.167rem;
}

.row.features .column {
	padding-left: 1.167rem;
	padding-right: 1.167rem;
}

/*promo carousel*/
.promo-carousel {
	margin-bottom: 2.334rem;
}

.promo-carousel figure.carousel-illustration {
	width: 100%;
	height: 540px;
	overflow: hidden;
	margin-bottom: 4.665rem;
}

.promo-carousel .fotorama__nav-wrap {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 540px;
}

/*tabs colors*/
#promo-colors {
	padding: 4.665rem 0;
}
.tabs-colors {
	width: 1010px;
	margin: 0 auto;
	display: table;
}

.tabs-colors > figure {
	width: 600px;
	display: table-cell;
	border-right: solid #000 1px;
	vertical-align: middle;
}

.tabs-colors > figure img {
	display: block;
}

.tabs-colors > nav {
	width: 410px;
	padding-left: 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

a[data-toggle="#promo-colors"] {
	cursor: pointer;
	padding-top: 1.16rem;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a[data-toggle="#promo-colors"].active {
	padding-top: 0;
}

a[data-toggle="#promo-colors"]:before {
	content: url(../images/arrow-bottom.svg);
}

a[data-toggle="#promo-colors"].active:before {
	content: url(../images/arrow-top.svg);
}

.tabs-colors nav a {
	padding-left: 85px;
	position: relative;
	display: inline-block;
	line-height: 70px;
	height: 70px;
	color: #cccccc;
	text-decoration: none;
}

.tabs-colors nav a.active,
.tabs-colors nav a:hover {
	color: #000000
}

.tabs-colors nav a.active:before {
	box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #cccccc;
}

.tabs-colors nav a:before,
.tabs-colors nav a:after {
	position: absolute;
	left: 0px;
	top: 10px;	
}

.tabs-colors nav a:before {
	content: " ";
	width: 48px;
	height: 48px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.tabs-colors nav a:after {
	content: url(../images/color-lens.png);
}

.tabs-colors nav a[href="#colors-illustration-whitelines"]:before {
	background-color: #f7f7f7;
}

.tabs-colors nav a[href="#colors-illustration-backtoblack"]:before {
	background-color: #505050;
}

.tabs-colors nav a[href="#colors-illustration-babyblue"]:before {
	background-color: #c8f0ff;
}

.tabs-colors nav a[href="#colors-illustration-bluemonday"]:before {
	background-color: #005aaf;
}

.tabs-colors nav a[href="#colors-illustration-champagnesupernova"]:before {
	background-color: #e6d7b9;
}

.tabs-colors nav a[href="#colors-illustration-silverhammer"]:before {
	background-color: #cccccc;
}

/*анимация*/
*[data-onload-animation-order] {
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	opacity: 0;
}

*[data-onload-animation-order].start {
	opacity: 1;
}

/*прелоадер*/
.preloader:before {
	content:  " ";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff url(../images/preloader.gif) no-repeat center center;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
	z-index: 100;
	opacity: 1;
}

.site-logo.preloader:before {
	background-image: url(../images/preloader-small.gif);
}

.preloader.loaded:before {
	opacity: 0;
}

