@font-face {
	font-family: 'Geometria';
	src: url('geometria-bold.eot');
	src:
	     url('geometria-bold.eot?#iefix') format('embedded-opentype'),
	     url('geometria-bold.woff') format('woff'),
	     url('geometria-bold.ttf') format('truetype'),
	     url('geometria-bold.svg#geometria-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('geometria-regular.eot');
	src:
	     url('geometria-regular.eot?#iefix') format('embedded-opentype'),
	     url('geometria-regular.woff') format('woff'),
	     url('geometria-regular.ttf') format('truetype'),
	     url('geometria-regular.svg#geometria') format('svg');
	font-weight: normal;
	font-style: normal;
}