@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?7uc64');
	src:url('icomoon.eot?#iefix7uc64') format('embedded-opentype'),
		url('icomoon.woff?7uc64') format('woff'),
		url('icomoon.ttf?7uc64') format('truetype'),
		url('icomoon.svg?7uc64#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}